
@-webkit-keyframes animation_bg_element1{

	0%{
		border-bottom-color: #3a2481;
	}

	25%{
		border-bottom-color: #242781;
	}
		
	50%{
		border-bottom-color: #244081;
	}
	
	75%{
		border-bottom-color: #242781;
	}
}

@keyframes animation_bg_element1{

	0%{
		border-bottom-color: #3a2481;
	}

	25%{
		border-bottom-color: #242781;
	}
		
	50%{
		border-bottom-color: #244081;
	}
	
	75%{
		border-bottom-color: #242781;
	}
}

@-webkit-keyframes animation_bg_element2{

	0%{
		border-bottom-color: #4266c0;
	}

	25%{
		border-bottom-color: #4287c0;
	}
		
	50%{
		border-bottom-color: #42a8c0;
	}
	
	75%{
		border-bottom-color: #4287c0;
	}
}

@keyframes animation_bg_element2{

	0%{
		border-bottom-color: #4266c0;
	}

	25%{
		border-bottom-color: #4287c0;
	}
		
	50%{
		border-bottom-color: #42a8c0;
	}
	
	75%{
		border-bottom-color: #4287c0;
	}
}

@-webkit-keyframes animation_bg_element3{

	0%{
		background-color: #4248c0;
	}

	25%{
		background-color: #4269c0;
	}
		
	50%{
		background-color: #428ac0;
	}
	
	75%{
		background-color: #4269c0;
	}
}

@keyframes animation_bg_element3{

	0%{
		background-color: #4248c0;
	}

	25%{
		background-color: #4269c0;
	}
		
	50%{
		background-color: #428ac0;
	}
	
	75%{
		background-color: #4269c0;
	}
}

@-webkit-keyframes animation_bg_element4{

	0%{
		background-color: #37acdd;
	}

	25%{
		background-color: #37d8dd;
	}
		
	50%{
		background-color: #37ddb5;
	}
	
	75%{
		background-color: #37d8dd;
	}
}

@keyframes animation_bg_element4{

	0%{
		background-color: #37acdd;
	}

	25%{
		background-color: #37d8dd;
	}
		
	50%{
		background-color: #37ddb5;
	}
	
	75%{
		background-color: #37d8dd;
	}
}

@-webkit-keyframes animation_bg_element5{

	0%{
		background-color: #1493c8;
	}

	25%{
		background-color: #14c2c8;
	}
		
	50%{
		background-color: #14c89d;
	}
	
	75%{
		background-color: #14c2c8;
	}
}

@keyframes animation_bg_element5{

	0%{
		background-color: #1493c8;
	}

	25%{
		background-color: #14c2c8;
	}
		
	50%{
		background-color: #14c89d;
	}
	
	75%{
		background-color: #14c2c8;
	}
}

@-webkit-keyframes animation_bg_element6{

	0%{
		background-color: #5c30ae;
	}

	25%{
		background-color: #3a30ae;
	}
		
	50%{
		background-color: #3048ae;
	}
	
	75%{
		background-color: #3a30ae;
	}
}

@keyframes animation_bg_element6{

	0%{
		background-color: #5c30ae;
	}

	25%{
		background-color: #3a30ae;
	}
		
	50%{
		background-color: #3048ae;
	}
	
	75%{
		background-color: #3a30ae;
	}
}

@-webkit-keyframes animation_bg_element7{

	0%{
		background-color: #6c49ac;
	}

	25%{
		background-color: #5249ac;
	}
		
	50%{
		background-color: #495aac;
	}
	
	75%{
		background-color: #5249ac;
	}
}

@keyframes animation_bg_element7{

	0%{
		background-color: #6c49ac;
	}

	25%{
		background-color: #5249ac;
	}
		
	50%{
		background-color: #495aac;
	}
	
	75%{
		background-color: #5249ac;
	}
}
